.footer {
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Kanit', sans-serif;  
  
  color: #4f4f4f ;
}
    
.nav-links {
  color: #686867 ;
}
.nav-links :hover {
  color: #b3a295 ; 
}

.hr {
  width: 100%;
  color: #b3a295 ;
  align-items: center;
}

