.form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  border-radius: 30px;
  border-color: black 1px;
  font-family: 'Kanit', sans-serif;
  background: rgb(245,245,247);
  background: linear-gradient(142deg, rgba(245,245,247,1) 0%, rgba(244,236,228,1) 100%, rgba(241,232,223,1) 100%);
  background-size: cover;
}

.form-control {
  border-radius: 30px;
  border-style: none;
  background-color: rgb(233, 235, 234);
}

.form-signin .checkbox {
  font-weight: 30px;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 50px;
  border-radius: 30px;
}

.form-signin .form-control:focus {
  z-index: 2;
  font-size: 30px;
  border-radius: 30px;
}

.form-signin input[type='email'] {
  border-style: solid;
  border-radius: 30px;
  margin-bottom: -1px;
  color: white
}
.form-signin input[type='password'] {
  border-radius: 30px;
  margin-bottom: 10px;
}

.form-select {
  border-radius: 10px;
}

.offcanvas {
  height: 100%;
}

