html, body {
  height: 100%;
  background: rgb(245,245,247);
  background: linear-gradient(142deg, rgba(245,245,247,1) 0%, rgba(244,236,228,1) 100%, rgba(241,232,223,1) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.menu {
  background-image: url('../public/images/banner/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.layout {
  background: rgb(245,245,247);
  background: linear-gradient(142deg, rgba(245,245,247,1) 0%, rgba(244,236,228,1) 100%, rgba(241,232,223,1) 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

/* buttons */
.btn {
  background-color: #e3d7ce ;
  color: #828282 ;
  border-radius: 30px;
  font-family: 'Kanit', sans-serif;
}

.btn:hover {
  transform: scale(1.07);
  background-color: #e3d7ce ;
}

.image {
  height: auto;
  border-radius: 10px;
  height: 600%;
  width: 500%;
  margin: auto;
  object-fit: contain;
  box-shadow: 0.1rem 0.1rem 0.8rem #1a1919;
}

 /* images */
img {
  min-height: 200px;
  max-width: 200px;
}

h1 {
  font-family: 'Alfa Slab One', cursive;
  color: #666666;
}

h2 {
  font-family: 'Kanit', sans-serif;
  color: #b3a295  
}

h3 {
  color: #b3a295 ; 
  font-family: 'Kaushan Script', cursive;
}

h4 {
  
  color: #666666;
  font-family: 'Kanit', sans-serif;
}

h5 {
  color: #b3a295 ;
  font-family: 'Kaushan Script', cursive;
}

h6 {
  color: #666666;
  font-family: 'Kanit', sans-serif;
}

/* hr */
.hr {
  width: 100%;
  color: #b3a295 ;
  align-items: center;
}

.par {
  color: #454444;
  font-family: 'Kanit', sans-serif;
}

/* icons */
.social-icons {
  color: #d3c5ba ;
  font-size: 20px;
}

.social-icon {
  color: #b3a295 ;
  font-size: 20px;
}

.button-icon {
  font-size: 20px;
}

.icon {
  font-size: 10px;
}

.card-icon {
  color: #d3c5ba ;
  font-size: 20px;
}
  
.social-icon:hover {
  color: #b3a295;
}  
    
.social-icons:hover {
  color: #b3a295 ; 
}

.input-icons i {
  position: absolute;
}

