html, body {
  height: 100%;
  background-color: #000000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.menu {
  height: 100vh; 
  background-image: url('../public/images/banner/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.layout {
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 10px;
}


/* buttons */
.btn {
  background-color:  #F94C66;
  color: #fafafa;
  border-radius: 30px;
  font-weight: bold;
}

.btn:hover {
  transform: scale(1.07);
  background-color:  #fc9fad;
}

.image {
  height: auto;
  border-radius: 10px;
  height: 600%;
  width: 500%;
  margin: auto;
  object-fit: contain;
  box-shadow: 0.1rem 0.1rem 0.8rem #1a1919;
}

 /* images */
img {
  min-height: 200px;
  max-width: 200px;
}

h1 {
  font-family: 'Alfa Slab One', cursive;
  color: #f7fafa;
}

h2 {
  font-family: 'Kanit', sans-serif;
  color: #02dabd; 
}

h3 {
  color: #02dabd;  
  font-family: 'Kaushan Script', cursive;
}

h4 {
  color: #02dabd; 
  font-family: 'Kanit', sans-serif;
}

h5 {
  color: #02dabd; 
  font-family: 'Kaushan Script', cursive;
}

h6 {
  color: #02dabd; 
  font-family: 'Kanit', sans-serif;
}

/* hr */
.hr {
  width: 100%;
  color:  #F94C66;
  align-items: center;
}

.par {
  color: #f1f2f2; 
  font-family: 'Kanit', sans-serif;
}

/* icons */
.social-icons {
  color: #F94C66; 
  font-size: 20px;
}

.social-icon {
  color: #EF9F9F; 
  font-size: 20px;
}

.button-icon {
  font-size: 20px;
}

.icon {
  font-size: 10px;
}

.card-icon {
  color: #02dabd; 
  font-size: 20px;
}
  
.social-icon:hover {
  color: #F94C66;
}  
    
.social-icons:hover {
  color: #EF9F9F; 
}

.input-icons i {
  position: absolute;
}
