.modal-body {
  background: rgb(245,245,247);
  background: linear-gradient(142deg, rgba(245,245,247,1) 0%, rgba(244,236,228,1) 100%, rgba(241,232,223,1) 100%);  
}

.modal-content {
  border: 1px solid #575656;
}

.calendar {
  background: rgb(245,245,247);
  background: linear-gradient(142deg, rgba(245,245,247,1) 0%, rgba(244,236,228,1) 100%, rgba(241,232,223,1) 100%);
  font-family: 'Kanit', sans-serif;
  color: #b7b2b2;  
  text-decoration: none; 
}
.react-calendar__navigation button {
  color: #6f48eb;
  min-width: 44px;
  background: none;
  margin-top: 8px;
  border: 1px solid #575656;
  border-radius: 6px;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: black;
}
.react-calendar__navigation button[disabled] {
  background-color: black;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: white;
  color: #151515;
  border-radius: 6px;
}

.react-calendar__tile {
  background: linear-gradient(142deg, rgba(245,245,247,1) 0%, rgba(244,236,228,1) 100%, rgba(241,232,223,1) 100%);
  border-radius: 6px;
  border: 1px solid #303030;
  color: #121111;
}
.react-calendar__tile--now {
  background: rgb(245,245,247);
  background: linear-gradient(142deg, rgba(245,245,247,1) 0%, rgba(244,236,228,1) 100%, rgba(241,232,223,1) 100%);
  border-radius: 6px;
  color: #161617;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: rgb(83, 82, 82);
  border-radius: 6px;
  color: #fafafa;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: rgb(245,245,247);
  background: linear-gradient(142deg, rgba(245,245,247,1) 0%, rgba(244,236,228,1) 100%, rgba(241,232,223,1) 100%);
}
.react-calendar__tile--active {
  background: #fcfcfd;
  border-radius: 6px;
  font-weight: bold;
  color: black,
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: rgb(245,245,247);
  background: linear-gradient(142deg, rgba(245,245,247,1) 0%, rgba(244,236,228,1) 100%, rgba(241,232,223,1) 100%);
  color: black;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background: rgb(245,245,247);
  background: linear-gradient(142deg, rgba(245,245,247,1) 0%, rgba(244,236,228,1) 100%, rgba(241,232,223,1) 100%);
}
.react-calendar__tile--range {
  background: rgb(245,245,247);
  background: linear-gradient(142deg, rgba(245,245,247,1) 0%, rgba(244,236,228,1) 100%, rgba(241,232,223,1) 100%);
  color: #f5f3f8;
  border-radius: 0;
}
.react-calendar__tile--rangeStart {
  background: rgb(245,245,247);
  background: linear-gradient(142deg, rgba(245,245,247,1) 0%, rgba(244,236,228,1) 100%, rgba(241,232,223,1) 100%);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #f8f7fa;
  color: black;
}
.react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #f6f6f8;
  color: black;
}
.modal-header {
  background: rgb(245,245,247);
  background: linear-gradient(142deg, rgba(245,245,247,1) 0%, rgba(244,236,228,1) 100%, rgba(241,232,223,1) 100%);
  border-style: none;
}

.modal-footer {
  background: rgb(245,245,247);
  background: linear-gradient(142deg, rgba(245,245,247,1) 0%, rgba(244,236,228,1) 100%, rgba(241,232,223,1) 100%);
  border-style: none;
}




