/*nav*/
.navbar {
  border-radius: 30px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background: rgb(245,245,247);
  background: linear-gradient(142deg, rgba(245,245,247,1) 0%, rgba(244,236,228,1) 100%, rgba(241,232,223,1) 100%);
  transition: transform 0.5s;
}
    
.nav-item {
  font-family: 'Kanit', sans-serif;
  font-size: 10px;
  color: #4f4f4f  
}

.nav-item :hover{
  color: #b3a295  
}
    
.nav-link {
  color: #686867   
}
.nav-link :hover {
  color: #b3a295 
}
    
li a {
  color: #D8C4B6;  
  text-decoration: none;
}
    
li a:hover {
  color: #D8C4B6;  
}

li {   
  color: #D8C4B6;   
}
    
li :hover {
  color: #D8C4B6;  
 
}

/*dropdown*/
.dropdown-menu {
  margin: 4rem auto;
  width: 100%;
  border-radius: 15px;
  border: 1px solid#e0e0e0;
  background: rgb(245,245,247);
  background: linear-gradient(142deg, rgba(245,245,247,1) 0%, rgba(244,236,228,1) 100%, rgba(241,232,223,1) 100%);
}

.dropdown-item {
  color: #686867 ; 
  font-size: 1.5rem;
  border-radius:10px;
}

.dropdown-item :hover {
  color: #faebeb;
  font-size: 1.5rem;

}
.btn-hover {
  background-color: #686867;
}
  .btn-hover-light:hover,
  .btn-hover-light:focus {
  color: #fff;
  background-color: #686867;
}

.sidebar {
  border-radius: 10px;
  background: rgb(245,245,247);
  background: linear-gradient(142deg, rgba(245,245,247,1) 0%, rgba(244,236,228,1) 100%, rgba(241,232,223,1) 100%);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}