/*nav*/
.navbar {
  background-image: url('../public/images/navbar3.png');
  font-size: 1.2rem;
  font-family: 'Kanit', sans-serif;
  border-top: 1px solid #2f4d5a; 
  border-bottom: 1px solid #2f4d5a;  
  border-radius: 30px;
}
    
.nav-item {
  font-size: 1.2rem;
  color: #f1f8f7; 
  color: #02dabd;  
}

.nav-item :hover{
  color: #02dabd; 
}
    
.nav-link {
  font-size: 1.2;
  color: #f1f8f7; 
}
.nav-link :hover {
  color: #02dabd; 
}
    
li a {
  color: #02dabd;  
  font-size: 1.2rem;
  text-decoration: none;
}
    
li a:hover {
  color: #f1f8f7;  
}

li {   
  color: #f1f8f7;  
  font-size: 1.2rem;
}
    
li :hover {
  color: #02dabd;  
  color: #f1f8f7; 
}

/*dropdown*/
.dropdown-menu {
  margin: 4rem auto;
  width: 100%;
  border-radius: 15px;
  border: 1px solid #3a3a3a;
  background-color: #050505;
}

.dropdown-item {
  color: #faebeb;
  font-size: 1.5rem;
  border-radius:10px;
}

.dropdown-item :hover {
  color:  #ff8282;
  font-size: 1.5rem;

}
.btn-hover {
  background-color: #EF9F9F;
}
  .btn-hover-light:hover,
  .btn-hover-light:focus {
  color: #fff;
  background-color: #EF9F9F;
}
