
.sidebar {
    border-radius: 10px;
    background: rgb(245,245,247);
    background: linear-gradient(142deg, rgba(245,245,247,1) 0%, rgba(244,236,228,1) 100%, rgba(241,232,223,1) 100%);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }